body{
  font-family: 'Open Sans', sans-serif;
  background-image: url(backdrop2.jpg) ;
  
  
}
.content {
  grid-area: content;
  width: 280px;
  height: 200px;
  padding-left: 60px;
  

}
.sidebar {
  grid-area: sidebar;
  background-color: ( rgb(249,107,142,1));
  justify-content: center;
}

